Repository andrewthetechie/err-aprs-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml, pyupgrade

.pre-commit-config.yaml:

exclude: ".*tests\/fixtures.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.27
    hooks:
      - id: actionlint-docker
        name: Actionlint
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "pyproject.toml"]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py311-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

chore(main): release 0.5.2
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

chore(main): release 0.1.0
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

fix: add configurable connection timeout to APRSIS client
  aprs_backend/aprs.py
  aprs_backend/clients/aprsis.py
  docker/config.py
  tests/clients/test_aprsis.py
Due: bandit, pyupgrade

fix: correct PACETS→PACKETS typo in cache TTL config key
  aprs_backend/aprs.py
Due: bandit, pyupgrade

fix: correct PACETS→PACKETS typo, remove fallback and superfluous comment
  aprs_backend/aprs.py
Due: bandit, pyupgrade

docs: add an AI policy doc
  AI_POLICY.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

ci: migrate to uv, fix failing CI, and target Python 3.13
  .dockerignore
  .github/dependabot.yml
  .github/workflows/constraints.txt
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  AI_POLICY.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  aprs_backend/aprs.py
  aprs_backend/clients/aprsis.py
  aprs_backend/packets/__init__.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/clients/test_aprsis.py
  tests/clients/test_base.py
  uv.lock
Due: bandit, check-toml, check-yaml, pyupgrade

ci: include hidden coverage files in artifact upload
  .github/workflows/tests.yml
Due: check-yaml

docs: pin Python 3.13 via .python-version, fix README version note
  .gitignore
  .python-version
  README.md
Due: none

ci: fixup ci (#482)
  .dockerignore
  .github/dependabot.yml
  .github/workflows/constraints.txt
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  AI_POLICY.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  aprs_backend/aprs.py
  aprs_backend/clients/aprsis.py
  aprs_backend/packets/__init__.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/clients/test_aprsis.py
  tests/clients/test_base.py
  uv.lock
Due: bandit, check-toml, check-yaml, pyupgrade

fix(aprsis): guard None _writer in disconnect() and make it idempotent
  aprs_backend/clients/aprsis.py
  tests/clients/test_aprsis.py
Due: bandit, pyupgrade

fix(aprsis): suppress B110 bandit finding for intentional bare pass in disconnect()
  aprs_backend/clients/aprsis.py
Due: bandit, pyupgrade

Harden wait_closed() exception handling in disconnect() and add test
  aprs_backend/clients/aprsis.py
  tests/clients/test_aprsis.py
Due: bandit, pyupgrade

fix(aprsis): handle None _writer in disconnect to prevent AttributeError (#488)
  aprs_backend/clients/aprsis.py
  tests/clients/test_aprsis.py
Due: bandit, pyupgrade

fix(aprs-registry): add configurable timeout to httpx.AsyncClient to prevent indefinite hang
  aprs_backend/aprs.py
  aprs_backend/clients/aprs_registry.py
  docker/config.py
  tests/clients/test_aprs_registry.py
Due: bandit, pyupgrade

fix(aprs-registry): reformat aprs_registry.py to satisfy ruff formatter
  aprs_backend/clients/aprs_registry.py
Due: bandit, pyupgrade

Document APRS_REGISTRY_TIMEOUT_SECONDS in CONFIG.md
  CONFIG.md
Due: none
