Repository andrewthetechie/err-aprs-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml, pyupgrade

.pre-commit-config.yaml:

exclude: ".*tests\/fixtures.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.27
    hooks:
      - id: actionlint-docker
        name: Actionlint
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "pyproject.toml"]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py311-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

fix(aprs-registry): address code review findings
  aprs_backend/clients/aprs_registry.py
  tests/clients/test_aprs_registry.py
Due: bandit, pyupgrade

perf(aprs-registry): use asyncio.gather for concurrent POST requests instead of sequential loop (#531)
  aprs_backend/clients/aprs_registry.py
  tests/clients/test_aprs_registry.py
Due: bandit, pyupgrade

Centralize CancelledError handling in ClientBase and fix log format typo
  aprs_backend/clients/_base.py
  tests/clients/test_base.py
Due: bandit, pyupgrade

Fix ruff formatting in tests/clients/test_base.py
  tests/clients/test_base.py
Due: bandit, pyupgrade

build(docker): extend .dockerignore to exclude docs and dev tooling files
  .dockerignore
Due: none

docs: document the load-bearing !README.md exception in .dockerignore
  .dockerignore
Due: none

Make .dockerignore markdown exclusion recursive to cover nested docs
  .dockerignore
Due: none

Fix typo: rename modu1e to modul in load_plugin_classes
  aprs_backend/utils/plugins.py
Due: bandit, pyupgrade

Rename misspelled field addresse to address across Packet hierarchy
  aprs_backend/aprs.py
  aprs_backend/message.py
  aprs_backend/packets/__init__.py
  aprs_backend/packets/parser.py
  tests/packets/test_parser.py
  tests/test_aprs.py
Due: bandit, pyupgrade

Fix inbound parsing: map aprslib 'addresse' key to renamed 'address' field
  aprs_backend/packets/parser.py
Due: bandit, pyupgrade

build(docker): add .dockerignore to exclude .git and tests from build context (#541)
  .dockerignore
Due: none

Add regression tests for inbound address mapping in parse()
  tests/packets/test_parser.py
Due: bandit, pyupgrade

Add wire-format compatibility for renamed address field (#542)
  CHANGELOG.md
  aprs_backend/packets/__init__.py
  tests/packets/test_serialization.py
Due: bandit, pyupgrade

Centralize aprslib addresse->address fix-up in parse()
  aprs_backend/packets/parser.py
Due: bandit, pyupgrade

perf(clients): reduce sleep loop iterations from 36000 to 360 for hourly frequency (#540)
  aprs_backend/clients/_base.py
  aprs_backend/clients/aprs_registry.py
  aprs_backend/clients/beacon.py
  tests/clients/test_base.py
Due: bandit, pyupgrade

chore(main): release 0.1.0
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

refactor(code-quality): rename modu1e to modul and addresse to address (#544)
  CHANGELOG.md
  aprs_backend/aprs.py
  aprs_backend/message.py
  aprs_backend/packets/__init__.py
  aprs_backend/packets/parser.py
  aprs_backend/utils/plugins.py
  tests/packets/test_parser.py
  tests/packets/test_serialization.py
  tests/test_aprs.py
Due: bandit, pyupgrade
