Repository andrewthetechie/err-aprs-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, check-toml, check-yaml, pyupgrade

.pre-commit-config.yaml:

exclude: ".*tests\/fixtures.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.27
    hooks:
      - id: actionlint-docker
        name: Actionlint
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "pyproject.toml"]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py311-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

ci: delete test_fake, there are real tests now
  tests/test_fake.py
Due: bandit, pyupgrade

chore: rearrange exceptions code
  aprs_backend/aprs.py
  aprs_backend/clients/aprsis.py
  aprs_backend/exceptions/__init__.py
  aprs_backend/exceptions/base.py
  aprs_backend/exceptions/client/__init__.py
  aprs_backend/exceptions/client/aprsis.py
  aprs_backend/exceptions/processor.py
  aprs_backend/utils/version.py
Due: bandit, pyupgrade

chore: cleanup a few more instances to getattr
  aprs_backend/aprs.py
Due: bandit, pyupgrade

fix: acks, login, filters, and APRS_BOT_CALLSIGN
  CONFIG.md
  aprs_backend/aprs.py
  aprs_backend/clients/aprsis.py
  aprs_backend/exceptions/__init__.py
  aprs_backend/exceptions/client/aprsis.py
  aprs_backend/packets/parser.py
  docker/config.py
Due: bandit, pyupgrade

fix: acks, login, filters, and APRS_BOT_CALLSIGN (#72)
  CONFIG.md
  aprs_backend/aprs.py
  aprs_backend/clients/aprsis.py
  aprs_backend/exceptions/__init__.py
  aprs_backend/exceptions/client/aprsis.py
  aprs_backend/packets/parser.py
  docker/config.py
Due: bandit, pyupgrade

feat: beaconing
  CONFIG.md
  aprs_backend/aprs.py
  aprs_backend/clients/_base.py
  aprs_backend/clients/aprs_registry.py
  aprs_backend/clients/aprsis.py
  aprs_backend/clients/beacon.py
  aprs_backend/packets/__init__.py
  aprs_backend/utils/datetime.py
  aprs_backend/utils/position.py
  docker/config.py
  tests/clients/test_aprs_registry.py
  tests/clients/test_base.py
  tests/clients/test_beacon.py
  tests/conftest.py
Due: bandit, pyupgrade

feat: beaconing (#73)
  CONFIG.md
  aprs_backend/aprs.py
  aprs_backend/clients/_base.py
  aprs_backend/clients/aprs_registry.py
  aprs_backend/clients/aprsis.py
  aprs_backend/clients/beacon.py
  aprs_backend/packets/__init__.py
  aprs_backend/utils/datetime.py
  aprs_backend/utils/position.py
  docker/config.py
  tests/clients/test_aprs_registry.py
  tests/clients/test_base.py
  tests/clients/test_beacon.py
  tests/conftest.py
Due: bandit, pyupgrade

chore(main): release 0.4.0
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

chore(main): release 0.4.0 (#67)
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

feat: new core plugins
  aprs_backend/APRSHealth.plug
  aprs_backend/APRSHelp.plug
  aprs_backend/APRSWebserver.plug
  aprs_backend/aprs.plug
  aprs_backend/aprs.py
  aprs_backend/aprs_core_plugins.py
  aprs_backend/plugins/__init__.py
  aprs_backend/plugins/health.py
  aprs_backend/plugins/help.py
  aprs_backend/plugins/web.py
  aprs_backend/utils/plugins.py
  docker/config.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

fix: skip loading plugs if backend = True
  aprs_backend/aprs.plug
  aprs_backend/utils/plugins.py
Due: bandit, pyupgrade

feat: new core plugins (#79)
  aprs_backend/APRSHealth.plug
  aprs_backend/APRSHelp.plug
  aprs_backend/APRSWebserver.plug
  aprs_backend/aprs.plug
  aprs_backend/aprs.py
  aprs_backend/aprs_core_plugins.py
  aprs_backend/plugins/__init__.py
  aprs_backend/plugins/health.py
  aprs_backend/plugins/help.py
  aprs_backend/plugins/web.py
  aprs_backend/utils/plugins.py
  docker/config.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

chore(main): release 0.5.0
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

chore(main): release 0.5.0 (#77)
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

chore(main): release 0.5.1
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

chore(main): release 0.5.1 (#81)
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

chore(main): release 0.5.2
  CHANGELOG.md
  aprs_backend/version.py
  pyproject.toml
Due: bandit, check-toml, pyupgrade

ci: update dependabot-auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: check-yaml
